<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body{
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        background-color: rgb(42, 26, 131);
        color: aliceblue;
    }   
    </style>
    <title>Document</title>
</head>
<body>
    <p>Go to /books directory to see the books and to /add_book directory to add a new book.</p>
    
</body>
</html>